.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vh;
    margin: 1.5%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.header h3 {
    font-size: 1.2em;
}

.header div {
    display: flex;
    align-items: center;
}


.header .header-title {
    color: #00acc1;
    font-size: 1.6em;
}

.header .header-title img {
    height: 4vh;
    padding: 0 1vw;
}

.header .header-img-user {
    height: 5vh;
    padding: 0 1vw;
}


.header button {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: 2px solid #00acc1;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header button:hover {
    background-color: #88d2dd68;
    cursor: pointer;
    transition: .2s;
}

.header button img {
    width: 70%;
}

@media (max-width: 800px) {
    .header h3 {
        display: none;
    }
}
