.hydroponicBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 5%;
    padding: 4%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    border: none;
    cursor: pointer;
    background-image: url('../../assets/img/home/background-hydroponic.png');
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.911);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hydroponicBox h1 {
    font-size: 4vh;
}

.hydroponicBox h2 {
    font-size: 2.5vh;
}



.hydroponicBox:hover {
    transform: scale(1.02);
    background-color: #cefdffa6;
}

.hydroponicBox-description {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.hydroponicBox img {
    width: 15vh;
}

